*{
    font-family: 'Manrope', sans-serif;
    margin: 0; /*margin -> Aplica margen de 0 a todos lados*/
    box-sizing: border-box; /*box-sizing -> calcula altura y anchura de los elementos*/
    padding: 0; /*padding -> Añade relleno de 0 a todos lados*/
    color: white;
}
.header__titulo{
    text-align: center;
    background-color: transparent;
    margin: 1px solid #000;
    padding-left: 250px;
    padding-right: 250px;
}
body{
    background-image: url(issets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header__menu{
    width: 50px;
    height: 50px;
    background-image: url(issets/list.png) no-repeat scroll 0 0 transparent;
    
}
